# Tuple

### Tuple Creation

In [3]:
#Example

t1=(1,2,3,4,5,6)
print(t1)
print(type(t1))

t2=1,2,3,4,5,6
print(t2)
print(type(t2))

print("\n")

#Single element tuple
x1=1
print(x1)
print(type(x1))

x1=1,
print(x1)
print(type(x1))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>


1
<class 'int'>
(1,)
<class 'tuple'>

### Tuple Manipulation

#### Tuple are immutable

In [5]:
t1=(5,4,2,6,7)
print(t1)
t1[2]=4

(5, 4, 2, 6, 7)

TypeError: 'tuple' object does not support item assignment

#### Tuple elements can be accessed by indexing and slicing methods

In [6]:
t2=(5,4,2,6,7,8,9)

print(t2[2])
print(t2[-1])
print(t2[2:5])
print(t2[2:5:2])
print(t2[:2])
print(t2[2:])

2
9
(2, 6, 7)
(2, 7)
(5, 4)
(2, 6, 7, 8, 9)

### Tuple Unpacking

#### Unpacking allows assigning multiple values at a time

In [7]:
t1=(5,'b',4,2,('x',6))

i1,i2,i3,i4,i5=t1
print(i1,i2,i3,i5)

(i6,i7)=i5

print(i6,i7)

5 b 4 ('x', 6)
x 6

#### Tuples unpacking also applicable to loops

In [9]:
t1=((2,3),(4,5),(6,7))
for x,y in t1:
    print(x,y)

2 3
4 5
6 7

#### Below code generates error

In [10]:
for x,y in (2,3):
    print(x,y)

TypeError: 'int' object is not iterable

### Nested Tuples and Zip function

#### Tuples can be nested also

In [12]:
t1=(5,'b',4,2,('x',6))
print(t1)

for i in t1:
    print(i)
    print(type(i))

(5, 'b', 4, 2, ('x', 6))
5
<class 'int'>
b
<class 'str'>
4
<class 'int'>
2
<class 'int'>
('x', 6)
<class 'tuple'>

#### Zip() takes two list inputs and combine them into tuple object

In [18]:
a=[30,40,50,60] #Extra element is ignored
b=['a','b','c']

c=zip(a,b)
print(c) #prints the address of zipped tuple
print(type(c))

for i in c:
    print(i)

<zip object at 0x0000013B62D995C8>
<class 'zip'>
(30, 'a')
(40, 'b')
(50, 'c')

# Assignment

## (Tuple sort by second element) WAP to get a list, sorted in increasing order by the last element in each tuple from a given list of non empty tuples

### Sample list [(2,5),(1,2),(4,4),(2,3),(2,1)]

### Expected result [(2,1),(1,2),(2,3),(4,4),(2,5)]

In [21]:
#Other assignments

#swap two numbers
#case study of zoo
#concatenate two tuples

In [14]:
a=[(2,5),(1,2),(4,4),(2,3),(2,1)]

for j in range(len(a)-1):
    for i in range(len(a)-1):
        if a[i][1]>a[i+1][1]:
            temp=a[i]
            a[i]=a[i+1]
            a[i+1]=temp
print(a)

print("By method 2")
temp1=[]
temp2=[]
for (x,y) in a:
    temp1.append((y,x))
temp1.sort()

#In below loop, each Tuple is unpacked as two individual integers x and y, which are then passsed as a
for (x,y) in temp1:
    temp2.append((y,x))

del(temp1)
del(a) #Note original list of tuples deleted
print(temp2)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]
By method 2
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# SET

In [23]:
# Doesnt support sort operation 
# Set is unordered list of elements identified by curly braces
# It is mutable like List.
# It can contain only unique elements

x={'xyz','abc','abc','sadsad'}
print(x)
print(type(x))

cset={11,11,12}
print(cset)

{'xyz', 'abc', 'sadsad'}
<class 'set'>
{11, 12}

### Q: Eliminate duplicates from list

In [22]:
L=[1,2,3,3,4,5,6,4]
print(L)

s=set(L)
L=list(s)


print(L)

[1, 2, 3, 3, 4, 5, 6, 4]
[1, 2, 3, 4, 5, 6]

#### Set doesn't support indexing

In [26]:
myset={'Bananas','Apples','Oranges'}

print(myset[0])

#Note ERROR

TypeError: 'set' object does not support indexing

### Set class methods

In [30]:
s2=set()
print(s2)


s1=set((2,3,4))
print(s1)

s1={2,3,4}
print(s1)
print("\n")
print("Use of s1.clear()")
s1.clear()
print(s1)
# s={}- Not possible to create empty set!

set()
{2, 3, 4}
{2, 3, 4}


Use of s1.clear()
set()

#### You can add single element, but not multiple elements, However you can use update to add more than 2 elements from a list

In [34]:
s1={2,3,4}
print(s1)

s1.add(20)
print(s1)

{2, 3, 4}
{2, 3, 4, 20}

In [42]:
# We can also add one tuple at a time

s1={2,3,4}
print(s1)

s1.add((20,30))
print(s1)

{2, 3, 4}
{2, 3, 4, (20, 30)}

In [33]:
s1={2,3,4}
print(s1)

s1.add(20,30)
print(s1)

#Cannot add multiple elements

{2, 3, 4}

TypeError: add() takes exactly one argument (2 given)

In [37]:
s1={2,3,4}
print(s1)

s1.update([20,30])
print(s1)

{2, 3, 4}
{2, 3, 4, 20, 30}

In [39]:
#Trying to add tuple

s1={2,3,4}
print(s1)

s1.update([20,30,(40,5)])
print(s1)

{2, 3, 4}
{2, 3, 4, 20, (40, 5), 30}

#### Discard- Removes element and Doesn't return error if element is not present in set

In [44]:
s1={2,3,4}
print(s1)

s1.discard(2)
print(s1)

{2, 3, 4}
{3, 4}

In [46]:
s1={2,3,4}
print(s1)

s1.discard(6)
print(s1)

{2, 3, 4}
{2, 3, 4}

#### Remove- Removes element and returns error if element is not present in set

In [45]:
s1={2,3,4}
print(s1)

s1.remove(2)
print(s1)

{2, 3, 4}
{3, 4}

#### Pop- Removes random element

In [53]:
s1={2,3,4,7,5,3,6,23,43,9}
print(s1)

s1.pop()
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)


print("Popped element in next set is",s1.pop())
print(s1)

{2, 3, 4, 5, 6, 7, 9, 43, 23}
{3, 4, 5, 6, 7, 9, 43, 23}
{4, 5, 6, 7, 9, 43, 23}
{5, 6, 7, 9, 43, 23}
Popped element in next set is 5
{6, 7, 9, 43, 23}

In [ ]:
#RUN help(set) to see all functions

### Boolean Operation on Sets

In [54]:
aset={11,22,33}
best={12,23,33}

#### Union

In [55]:
print(aset|best)

{33, 11, 12, 22, 23}

#### Intersection

In [61]:
#print(aset.intersection(best)) #alternative way
print(aset|best)

{33, 11, 12, 22, 23}

#### Difference

In [63]:
print(aset-best)

{11, 22}

#### Symmetric Difference

In [65]:
# union(a,b) - intersection(a,b)
print(aset^best)

{11, 12, 22, 23}

# Dictionary

* Pairs of keys and values are specified in a dictionary by using the notation
   <br/> d={key1:value1,key2:value2}
* Unordered 
* Classs dict

#### Creation Methods

In [70]:
d1={} #create empty dictionary - Use of curly brackets creates blank dictionary
print("method1 ",d1)
d2=dict() #Create dictionary using dict function
print("method2 ",d2)

d3={3}
print("method3 ",d3)

d4={'a':3,'b':4}
print("method4 ",d4)

method1  {}
method2  {}
method3  {3}
method4  {'a': 3, 'b': 4}

#### List of tuple, List of list

In [74]:
d1=dict([('a',3),('b',5)]) #List of tuple
print(d1)

d1=dict([['a',3],['b',5]]) #List of list
print(d1)

{'a': 3, 'b': 5}
{'a': 3, 'b': 5}

In [ ]:
#Tuple of tuple is not possible

#### New key:value pair

In [78]:
d={1:'a',2:'b'}
print(d)

print("Changing value of particular key")
d[1]='g'
print(d)

{1: 'a', 2: 'b'}
Changing value of particular key
{1: 'g', 2: 'b'}

#### Key has unique value

In [88]:
d={1:'a',1:'b',1:'c'}
print(d)
#Observed behaviour latest paird of repeated key:value is used

{1: 'c'}

### Key has to be immutable data type only

#### Tuple can be key

In [79]:
d={(1,3):'a',2:'b'}
print(d)

{(1, 3): 'a', 2: 'b'}

#### List cannot be key

In [81]:
d={[1,3]:'a',2:'b'}
print(d)

TypeError: unhashable type: 'list'

### Dictionary Basic Methods

#### Len() [Number of pairs in dictionary] and del()

In [91]:
d={1:'a',2:'b'}
print(d)
x=len(d)
print(x)

del d[1]
print(d)


del d #Deletes complete dictionary

{1: 'a', 2: 'b'}
2
{2: 'b'}

#### Other Operations

##### keys()

In [95]:
d={1:'a',2:'b',3:'c'}
k=d.keys()
print(k)
print(type(k))
for i in k:
    print(i)

dict_keys([1, 2, 3])
<class 'dict_keys'>
1
2
3

##### values()

In [96]:
d={1:'a',2:'b',3:'c'}
k=d.values()
print(k)
print(type(k))
for i in k:
    print(i)

dict_values(['a', 'b', 'c'])
<class 'dict_values'>
a
b
c

##### items()

In [98]:
d={1:'a',2:'b',3:'c'}
k=d.items()
print(k)
#Returned as Tuples

print(type(k))
for i in k:
    print(i)

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])
<class 'dict_items'>
(1, 'a')
(2, 'b')
(3, 'c')

#### Deep and Shallow Copy

In [101]:
#Shallow copy
d={1:'a',2:'b',3:'c'}
k=d
print("k",k)
print("d",d)
k[1]='c'
print("\n")
print("k",k)
print("d",d)

k {1: 'a', 2: 'b', 3: 'c'}
d {1: 'a', 2: 'b', 3: 'c'}


k {1: 'c', 2: 'b', 3: 'c'}
d {1: 'c', 2: 'b', 3: 'c'}

In [104]:
#Deep Copy
d={1:'a',2:'b',3:'c'}
k=d.copy()
print("k",k)
print("d",d)
k[1]='c'
print("\n")
print("k",k)
print("d",d)
print("Note: d doesnt change when we change k")

k {1: 'a', 2: 'b', 3: 'c'}
d {1: 'a', 2: 'b', 3: 'c'}


k {1: 'c', 2: 'b', 3: 'c'}
d {1: 'a', 2: 'b', 3: 'c'}
Note: d doesnt change when we change k

In [113]:
d={1:'a',2:'b',3:'c'}

d1=dict(d)

print("k",k)
print("d",d)
k[1]='c'
print("\n")
print("k",k)
print("d",d)

k {1: 'c', 2: 'b', 3: 'c'}
d {1: 'a', 2: 'b', 3: 'c'}


k {1: 'c', 2: 'b', 3: 'c'}
d {1: 'a', 2: 'b', 3: 'c'}

##### Copying keys only

In [105]:
# Copying only keys from old dictionary to new dictionary
d={1:'a',2:'b',3:'c'}
d1=dict.fromkeys(d)
print(d1)

{1: None, 2: None, 3: None}

##### Copying keys with new value (passed as parameter to function)

In [106]:
# Copying keys with new value (passed as parameter to function)
d={1:'a',2:'b',3:'c'}
d1=dict.fromkeys(d,10)
print(d1)

{1: 10, 2: 10, 3: 10}