# Date Time in python

### Contents

- Intro
- datetime.date
- datetime.time
- datetime.datetime
- datetime.timedelta
- Python Format Date-Time
- Handling timezone in Python

In [10]:
import datetime as dt

#### Get Current Date and Time

In [11]:
datetime_object=dt.datetime.now()
print(datetime_object)

2019-02-25 16:26:30.429268

- Remember Date Time is not a string

#### Get CurrentDate

In [12]:
date_object=dt.date.today()
print(date_object)

2019-02-25

#### To check what are methods (Functions) available in datetime module

In [13]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_divide_and_round', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

#### Classses in DateTime Module

- date Class
- time Class
- datetime Class
- timedelta Class (Difference)

In [15]:
d=dt.date(2019,4,13)
print(d)

2019-04-13

In [16]:
t=dt.date.today()
print("Current year",t.year)
print("Current month",t.month)
print("Current day",t.day)

Current year 2019
Current month 2
Current day 25

#### timestamp

- A Unix timestamp is number of seconds between a particular date and January 1, 1970 at UTC

In [32]:
timestamp=datetime.date.fromtimestamp(1549990000)
print("Date= ",timestamp)

Date=  2019-02-12

#### datetime.time class

In [33]:
from datetime import time

In [34]:
#time(hour=0, minute=0,second=0)

a=time()
print("a",a)

a 00:00:00

In [39]:
#time(hour, minute,second)

a=time(11,34,36)
print("a",a)

a 11:34:36

In [35]:
# time(hour,minute,second)

b=time(11,34,56)
print("b",b)

b 11:34:56

In [37]:
# time(hour,minute,second, microsecond)

b=time(11,34,56,450000)
print("b",b)

b 11:34:56.450000

#### datetime.time class

In [42]:
# time(hour,minute,second, microsecond)

a=time(11,34,56,450000)

print("Hour",a.hour)
print("Minute",a.minute)
print("Second",a.second)
print("Microsecond",a.microsecond)

Hour 11
Minute 34
Second 56
Microsecond 450000

#### datetime.datetime class
- Info about both date and time objects

In [44]:
from datetime import datetime

In [49]:
#datetime(year,month,day)
a=datetime(2019,12,5)
print(a)

2019-12-05 00:00:00

In [51]:
#datetime(year,month,day,hour,minute,second, microsecond)
b=datetime(2019,12,5,11,34,56,450000)
print(b)

2019-12-05 11:34:56.450000

In [52]:
a=datetime(2019,12,5,11,34,56,450000)

print("Current year",a.year)
print("Current month",a.month)
print("Current day",a.day)

print("Hour",a.hour)
print("Minute",a.minute)
print("Second",a.second)
print("Microsecond",a.microsecond)

Current year 2019
Current month 12
Current day 5
Hour 11
Minute 34
Second 56
Microsecond 450000

#### datetime.timedelta class
- timedelta object represents Difference between 2 dates or times

In [68]:
from datetime import datetime,date,time

In [59]:
t1=date(year=2019,month=2,day=25)
t2=date(year=2000,month=1,day=22)
t3=t2-t1

print(t3)

print(type(t3))

#Difference can be negative also

-6974 days, 0:00:00
<class 'datetime.timedelta'>

In [78]:
t4=time(hour=11,minute=34,second=56,microsecond=450000)
t5=time(hour=1,minute=12,second=56,microsecond=459999)
print(t4)
print(t5)
t6=t4-t5

print(t6)

print(type(t6))

#Operation doesnt work on time datatype

11:34:56.450000
01:12:56.459999

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'

In [71]:
from datetime

SyntaxError: invalid syntax (<ipython-input-71-440c85c3022c>, line 1)

In [85]:
# timedelta

t1=dt.timedelta(seconds=40)
t2=dt.timedelta(seconds=10)

t3=t2-t1

print(t3)

print(type(t3))

-1 day, 23:59:30
<class 'datetime.timedelta'>

#### Python strftime() - Datetime Object to String

In [86]:
from datetime import datetime

In [90]:
#current date and time
n=datetime.now()

t=n.strftime("%H:%M:%S")

print("time:",t)

time: 17:00:36

In [100]:
s1=n.strftime("%d-%m-%y,%H:%M:%S")

# dd/mm/YY H:M:S format

print("s1:",s1)

s1: 25-02-19,17:00:36

### Refer Formatting from http://strftime.org/

#### Python strptime() - String to datetime 
- Can be used while reading csv file

In [107]:
from datetime import datetime

date_string="21 June,2018"
print("date_string=",date_string)

data_object=datetime.strptime(date_string,"%d %B,%Y")

#Note spaces are important
#"%d%B,%Y" will give error, i.e. no space after %d will result into error

print("date_object=",date_object)

date_string= 21 June,2018
date_object= 2019-02-25

#### Time Zone handling

In [108]:
from datetime import datetime
import pytz

In [109]:
local=datetime.now()
print(local)

2019-02-25 17:11:12.116883

In [111]:
tz_ny=pytz.timezone('America/New_York')
dt_ny=datetime.now(tz_ny)

print("NY:",dt_ny)

NY: 2019-02-25 06:42:52.478955-05:00

In [113]:
tz_in=pytz.timezone('Asia/Kolkata')
dt_in=datetime.now(tz_in)

print("IN:",dt_in)

IN: 2019-02-25 17:15:00.806616+05:30